body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

.top-banner {
  background-image: url(/image/top-banner.png);
  background-repeat: no-repeat;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 5%;
  text-align: justify;
}
.half-width p {
  /* padding-bottom: 10px; */
  line-height: 30px;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10%;
}

.dream-big {
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dream-big p {
  padding-right: 50px;
}
.experience-area {
  background-image: url(image/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 120px;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding-left: 20px;
}
.experience-item P {
  line-height: 30px;
}
#full-dev {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
#web-dev {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
