body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

.top-banner {
  background-image: url(/image/top-banner.png);
  background-repeat: no-repeat;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 5%;
  text-align: justify;
}
.half-width p {
  padding-bottom: 10px;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10%;
}
.dream-big {
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dream-big p {
  padding-right: 50px;
}
